<!DOCTYPE html>
<html lang="en">

<head>
	<title>GenerativeTrees</title>
</head>

<body>

	<form method="POST" action="/loading" id="mainForm">
		
		<label for="resolution"> Resolution </label>
		<input type="range" min="4" max="8" value="<%= current_resolution %>" id="resolution" name="resolution">

		<input type="submit" value="Generate Tree" style=
		   "display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
			margin-top: 50px;"
		/>
	</form>

	<img src="<%= image_name %>"
		 alt="Generating next batch of trees."
		 style=
		   "image-rendering: pixelated;
			width: 512px;
			display: block;
			margin-left: auto;
			margin-right: auto;"
	>

</body>

</html>
