<!DOCTYPE html>
<html lang="en">

<head>
	<title>GenerativeTrees</title>
	<link rel="stylesheet" href="css\style.css">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet"> 
</head>

<body>

	<img src="<%= image_name %>" alt="Image buffer appears to be empty. Please reload shortly, or restart the server." id="generated_image">	


	<form method="POST" action="/loading" id="mainForm">
		<input type="submit" value="Generate Tree" id="generate_button"/>

		<label for="config_same_seed" id="config_same_seed_label"> Use same seed </label>
		<input type="checkbox" id="config_same_seed" name="config_same_seed" value="True" <% if (same_seed) { %> checked <% } %> >

		<label for="config_tailored_palette" id="config_tailored_palette_label"> Tailored Colour Palette </label>
		<input type="checkbox" id="config_tailored_palette" name="config_tailored_palette" value="True" <% if (tailored_palette) { %> checked <% } %> >

		<label for="config_resolution" id="config_resolution_label"> Resolution </label>
		<input type="range" min="4" max="12" value="<%= resolution %>" id="config_resolution" name="config_resolution">

		<label for="config_stylize" id="config_stylize_label"> Stylize </label>
		<input type="checkbox" id="config_stylize" name="config_stylize" value="True" <% if (stylize) { %> checked <% } %> >
	</form>

</body>

</html>
