<!DOCTYPE html>
<html lang="en">

<head>
	<title>GenerativeTrees</title>
</head>

<body id = "body">

	<form method="POST" action="/" id="mainForm">
		<input type="submit" value="Generate Tree" style=
		   "display: block;
			margin-left: auto;
			margin-right: auto;"
		/>
	</form>

	<img src="<%= image_name %>"
		 alt="Generating next batch of trees."
		 style=
		   "image-rendering: pixelated;
			width: 512px;
			display: block;
			margin-left: auto;
			margin-right: auto;"
	>

    <!-- <p id = "GFG_UP" style = 
            "font-size: 15px; font-weight: bold;"> 
    </p> 
    
    <p id = "GFG_DOWN" style = 
            "color:green; font-size: 20px; font-weight: bold;"> 
    </p>  -->



	<!-- <h1 style = "color:green;" > 
        GeeksforGeeks 
    </h1> 
      
    <p id = "GFG_UP" style = 
            "font-size: 15px; font-weight: bold;"> 
    </p> 
      
    <button onclick = "GFG_Fun()"> 
        click here 
    </button> 
      
    <p id = "GFG_DOWN" style = 
            "color:green; font-size: 20px; font-weight: bold;"> 
    </p> 

	<script>
        var up = document.getElementById('GFG_UP'); 
        up.innerHTML = "Click on the button to add image element"; 
        var down = document.getElementById('GFG_DOWN'); 

        function GFG_Fun() {
			// console.log(__dirname)
            var img = document.createElement('img');
            img.src = 'tree.png';
            document.getElementById('body').appendChild(img);
            down.innerHTML = "Image Element Added."; 
        } 
    </script> -->

	<!-- <script>
        var up = document.getElementById('GFG_UP'); 
        up.innerHTML = "Click on the button to add image element"; 
        var down = document.getElementById('GFG_DOWN'); 

		var img = document.createElement('img');
            img.src = 'tree.png';
            document.getElementById('body').appendChild(img);
            down.innerHTML = "Image Element Added."; 
    </script> -->

</body>

</html>
